
$fontLarge : 2.8rem;

$numberListWidth : 55%; // percent of width

$numberingWidth : 100% - $numberListWidth; // Compute percent of numbering width from numberListWidth
$numberingLeft : $numberListWidth;  // Compute position left

$numberInputHeight : 150px;
$numberBorderColor : #f9f9f9;
$bannerColor : cornflowerblue;
$bannerHeight : 100px;

*, ::before, ::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

button{
  background-color: #0d6efd;
  padding: 2rem;
  font-size: 1.5rem;
}

// Banner
.banner {
  //position:fixed;
  left:0;
  top:0;
  width:100%;
  height: $bannerHeight;
  display:flex;
  text-align:center;
  background-color: $bannerColor;
  z-index:10;
  & .storeName{
    margin-left: 1.5rem;
    align-self: center;
    font-size: 5rem;
  }

  & .banner-button{
    display:flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1.5rem;
    align-self: center;
    & .button{
      margin-left: 1.5rem;
    }
    & .help-button{
      font-size: 1.25rem;
      background-color: greenyellow;
      width: 100px;
      border: none;
      border-radius: 0.375rem;
      padding: 2rem;
      margin: 0.375rem;
    }
    & .fullscreen-button{
      font-size: 1.25rem;
      background-color: green;
      width: 200px;
      border: none;
      border-radius: 0.375rem;
      padding: 2rem;
      margin: 0.375rem;
    }

    & .iconButton{
      display: block;
      width: auto;
      background-color: transparent;
      border : none;
    }
    & .icon{
      width: 70px;
      height: auto;
      pointer-events: none;
    }
  }
}

//Setting modal
.modal {
  background: white;
  position: absolute;
  display: none;
  float: left;
  padding : 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;

  border-radius: 15px;

  & .banner{
    background-color: transparent;
    border-bottom: 1px solid #333333;
    & .banner-title{
      @extend .storeName;
    }
  }
  & .modal-body {
    display: block;
    flex-direction: column;
    margin:auto;
    padding: 3rem;
    font-size: 1.75rem;

    & .modal-col {
        display: block;
      & .setting-label{
        display: block;
        padding: 0.375rem 0 ;
      }
      & .setting-input{
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 2rem;
        background-color: #ffffff;
        border: 1px solid #ced4da;
        appearance: none;
        border-radius: 0.375rem;
      }
    }
  }
  & .modal-footer{
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    align-items: center;
    padding: 0.75rem 0.375rem;
    & button{
      background-color: #0d6efd;
      border : none;
      border-radius: 0.375rem;
      padding: 2rem;
      margin: 0.375rem;
      font-size: 1.5rem;
    }
    & .cancel-button{
      background-color: brown;
    }
  }

}
.fullScreen {
  position: absolute;
  display: none;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 3;
}


// Numbering list
.numberList{
  position: absolute;
  top: 100px;
  width: $numberListWidth;
  height: calc( 100% - 100px); // Entire Height - banner height
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 7rem;
  letter-spacing: 1rem;
  //background-color: lightblue;
  overflow: scroll;
  & .order{
    display: flex;
    width: 100%;
    padding : 1.5rem 3rem;
    & .delete-order{
      width: 25%;
      font-size: 2rem;
      border-radius: 0.375rem;
      background-color: brown;
    }
    & .repeat-order{
      @extend .delete-order;
      margin-left: auto;
      background-color: darkgoldenrod;

    }
  }
}
.double-dot{
  border-right: 5px #333333 double;
}

// Number Pad
.numbering{
  width: $numberingWidth;
  height: calc( 100% - 100px); // Entire Height - banner height
  left: $numberingLeft;
  top: 100px;
  position: absolute;
  background-color: $numberBorderColor;

  & .numberInput{
    display: flex;
    width: 100%;
    height: $numberInputHeight;
    background-color: white;

    & .inputNum{
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100% - 66.6%);
      font-size: 4rem;
      letter-spacing: 10px;

    }
  }

  & .numberDial{
    height: calc( 100% - $numberInputHeight);
    & .row{
      display: flex;
      width: 100%;
      height: 25%;
    }
  }
}

// Key board
.key{
  width: calc(100% / 3);
  font-size: 3rem;
  background-color: gainsboro;
  border: 1px solid $numberBorderColor;
  border-radius: 5px;

}
.key:last-child{
  border-right: none;
}
.numberInput .back-key{
  @extend .key;
  margin-left: auto;
  border-left: 1px solid $numberBorderColor;
}
.next-key{
  @extend .back-key;
}

.key:active, .back-key:active{
  background-color: darkgrey;
  //animation: background-color ease-in 1s;
}

// Customer part - board
$customerBannerHeight : 200px;

.customer-banner{
  position: relative;
  height: $customerBannerHeight;
  & .customer-storeName{
    font-size: 10rem;
  }
}
.alert-modal{
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: $bannerColor;
  font-size: 35rem;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.board-number-list{
  //position: absolute;
  top: $customerBannerHeight;
  display: flex;
  height: calc(100vh - $customerBannerHeight);
  padding: 1rem;
  align-items: center;
  text-align: center;
  font-size: 12rem;
  letter-spacing: 1rem;
  flex-direction: row;
  flex-wrap: wrap;

}
.board-order{
  width: 30%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 20rem;
}
//https://stackoverflow.com/questions/8720931/can-css-detect-the-number-of-children-an-element-has
/* one item */
.board-order:first-child:nth-last-child(1) {
  /* -or- .board-order:only-child { */
  width: 100%;
  font-size: 35rem;
}

/* two items */
.board-order:first-child:nth-last-child(2),
.board-order:first-child:nth-last-child(2) ~ .board-order {
  width: 50%;
  font-size: 30rem;
}

/* three items */
.board-order:first-child:nth-last-child(3),
.board-order:first-child:nth-last-child(3) ~ .board-order {
  width: 33.3333%;
  font-size: 25rem;
}

/* four items */
.board-order:first-child:nth-last-child(4),
.board-order:first-child:nth-last-child(4) ~ .board-order {
  width: 50%;
  font-size: 20rem;
}

/* five items */
.board-order:first-child:nth-last-child(5),
.board-order:first-child:nth-last-child(5) ~ .board-order {
  width: 33.3%;
  font-size: 20rem;
}

.modal-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  & .modal-img{

  }
}